.social {
  width: 100vw;
  position: fixed;  
  bottom: 0;
  padding: 15px;
  font-size: 1.1em;
  span {
    padding: 20px;
  }

  a {
    padding: 5px;

    &:hover {
      color: $pink;
      cursor: pointer;
    }
  }
  .contact {
    float: right;
    padding: 0;
  }
}